*.swp
*.bak
*.bin
*.files
*.out
tags
*.scc
*.vim
*.viminfo
*~
*.git/*
*.IAB
*.IAD
*.IMB
*.IMD
*.PFI
*.PO
*.PR
*.PRI
*.PS
*.WK3
*.ncb
*.user
*.suo
Debug/*
Release/*
*/Debug/*
*/Release/*
build/*
project/*.c
project/*.h
project/*.txt
project/*.cfg
sdk/*/lwip/*
sdk/share/qt4.8.5-lite/lib
tool/*
win32/*
